*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
}

header{
background-color: rgb(14, 14, 14);
padding: 20px;
position: sticky;
top: 0;

}

#header-links{
  list-style: none;
  display: flex;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: flex-end; 
}

li .header-link{
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0;
  font-size: 25px;
  padding: 30px 30px;
  font-weight: bold;
  transition: all ease 0.3s;
}

li .header-link:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

#hero-container{
  display: flex;
  padding: 100px 20px;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(images/peakpx.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  
}

.hero-text{
  color: rgb(192, 192, 192);
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 20px;
}

.hero-text img{
  width: 300px;
  border-radius: 50%;
  border: 10px solid  rgba(192, 192, 192, 0.589);
}

.hero-text h1{
  font-size: 3rem;
}

.hero-text p{
  font-size: 1.5rem;
  padding: 25px;
}

#project-showcase-container{
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#showcase-text{
  background-color: grey;
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  margin-bottom: 20px
}

#showcase-text h2{
  font-size: 40px;
  margin: 0;
}

#showcase-text p{
  font-size: 30px;
  margin: 0;
}

.project-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.project-card{
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.486);
  border-radius: 20px;
  padding: 20px 5px;
  margin: 15px;
}

.information-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 5px;
}
.card-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  top: 100px;
}

.card-text h3{
  font-size: 50px;
  margin-top: 0;
  margin-bottom:0;
}

.card-text p{
  font-size: 25px;
  padding: 5px;
  margin: 0;
}

.project-links a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  transition: all ease 0.3s;
}

.project-links a:hover{
  background-color: rgb(77, 77, 77);
}

#contact-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  position: sticky;
}

.contact-links{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 20px
}

ul{
  list-style: none;
}

footer h2{
  font-size: 35px;
  margin: 20px;
  margin-bottom: 0;
}

footer p{
  margin-top: 5px;
font-size: 25px;
}

.copyright{
  margin: 15px;
  font-size: 20px;
}
.contact-link img{
  filter: invert(100%);
  width: 110px;
  height: 110px;
  padding: 0px 20px;;
  margin: 0;
}